name: Sync Wiki

on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Send commit id to Demon List VN API
        run: |
          curl --max-time 15 \
               --retry 3 \
               --retry-delay 15 \
               --retry-all-errors \
               --fail \
               --show-error \
               -X POST https://api.gdvn.net/sync/wiki \
               -H "Content-Type: application/json" \
               -d '{
                 "commit_id": "${{ github.sha }}"
               }'
